
<div *ngIf="auth.authenticated()">

<div *ngIf="word">
<h2>Word - {{word.name}}</h2>
<br>

<label>Category: </label>
<text>{{word.category}}</text><br>

<!-- <label>Tags: </label>
<text>{{word.subcategory}}</text><br> -->

<label>InUsed: </label>
<text>{{word.inused | yes_no}}</text><br>

<br>
<button (click)="goBack()">Back</button>
<button class="button-edit" (click)="editWord()">Edit</button>
</div>

</div>

<br>
<div *ngIf="!auth.authenticated()">
<h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
{{auth.login()}}
</div>
