/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}

#page-wrap {
   /*text-align: center;*/
   /*width: 90%;*/
   width: 1200px;
   margin: 0 auto;
}

a {
  cursor: pointer;
  cursor: hand;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-bottom: 20px;
}
button {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1em;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 8px 16px;
  border-radius: 0px !important;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
table {
  table-layout: auto;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 20px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* everywhere else */
* { 
  font-family: Arial, Helvetica, sans-serif; 
}



