/* Overall */
header .container{
  width: 100%;
  padding:0px;
  margin:0px;
  background-color: black;
}
nav {
  margin-bottom: 0px !important;
}
a {
  cursor: pointer;
  cursor: hand;
}
label {
  width: 9em;
}
input{
  margin-right: 5px;
}
select {
  margin-right: 10px;
}
textarea {
  margin-right: 10px;
}
table {
  table-layout: auto;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 20px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
th , td  {
  border-collapse: collapse;
  padding: 5px;
}
@media screen and (max-width: 700px) {
  .wide-only{
    display:none;
  }
}

/* List */
.docs-header{
  width: 100%;
  background-color: #1E3D5a;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  color: white;
}

.header{
  font-weight: 600;
}

.div-list-item{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #ddd solid;
}

.div-list-item:hover{
  background-color:#eee;
}
.div-list-item div{
  padding-top: 6px;
}

.btn.wrap{
  white-space: inherit;
}

.padding-large-vertical{
  padding-top: 20px;
  padding-bottom: 20px;
}

.click{
  cursor: pointer;
  cursor: hand;
}
.click:hover{
  color: #039be5;
}
.click:visited{
  color: #607D8B;
}
.text-big {
  font-size: 1.2em;
}
.text-blue {
  color: #039be5;
}
.text-green {
  color: limegreen;
}
.text-red {
  color: red;
}
.text-grey {
  color: lightgrey;
}
.btn {
  margin-left: 5px;
}
.btn-blue:hover {
   color: white;
   background-color: #039be5;
}
/*.btn-delete {
  color: white;
  background-color: pink;
}*/
.btn-delete:hover {
  color: white;
  background-color: red;
}
.btn-small {
  width: 38px;
}
.btn-big {
  width: 100px;
}
.label-small {
  width: 6em;
}
.btn-add {
   width: 38px;
   margin-left: 10px;
   margin-right: 20px;
}
.btn-add:hover {
  color: white;
  background-color: limegreen;
}
.btn-del {
  width: 38px;
  margin-right: 10px;
  color: white;
  background-color: pink;
}
.btn-del:hover {
  color: white;
  background-color: red;
}
.input-upper {
  text-transform: uppercase;
}
.col {
  padding-left: 0;
}
.btn-b {
  width: 200px;
  margin-left: 0;
}
.btn-left0 {
  margin-left: 0px;
}
.btn-right {
  margin-right: 4px;
}
.input {
  width: 250px;
  margin-right: 0px;
}
