<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1" >
      <span *ngIf="words">Keywords</span>
      <span *ngIf="!words && auth.authenticated()">Add New Keyword</span>
   </h1>
</div>

<!-- Content -->
<div class="col-md-10 col-md-offset-1">

<div *ngIf="auth.authenticated()">

   <div class="form-inline">
      <input class="input form-control" type="text" [(ngModel)]="query" placeholder="Search for">
      <button class="btn btn-small btn-default" (click)="addWord()">+</button>
   </div>
   <br>

   <div *ngIf="words" class="row col col-xs-11 header hidden-xs">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-3">Category</div>
      <div class="col-xs-3">Tags</div>
      <div class="col-xs-2">InUsed</div>
   </div>
   <div class="row col col-xs-11 div-list-item" *ngFor="let word of words | filter:query">
      <div class="col-sm-3">
         <button class="btn-b btn btn-primary wrap" (click)="onSelect(word);toEdit(word._id)">{{word.name}}</button>
      </div>
      <div class="col-sm-3">
         <text class="click text-blue" (click)="groupByCat(word.category)">{{word.category}}</text>
      </div>
      <div class="col-sm-3">
         <text *ngFor="let tag of word.tags"><text class="click text-blue" (click)="groupByTag(tag)"> {{tag}}, </text></text>
      </div>
      <div class="col-sm-2">{{word.inused | yes_no}}</div>
   </div>

</div>

<div *ngIf="!auth.authenticated()">
<h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
</div>

</div>


