h1 {
  font-size: 2em;
  color: #999;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.8em;
  color: #999;
  margin-top: 0;
  padding-top: 20px;
}
h3 {
  word-wrap: break-word;
  font-size: 1.2em;
  color: #999;
  margin-top: 0;
  padding-top: 5px;
}
h4 {
  word-wrap: break-word;
  font-size: 1.0em;
  color: #999;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-bottom: 20px;
}
button {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1em;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 8px 16px;
  border-radius: 0px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
table {
  table-layout: auto;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 20px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
.table-words {
  /*table-layout: fixed;*/
  width: 90%;
  /*white-space: nowrap;*/
  word-wrap: break-word;
  border: 0;
  margin-bottom: 50px;
}
/*.table-words td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/
.table-words tr {
  /*line-height: 30px; */
}
.th-name {
  width: 30%;
}
.th-cat {
  width: 30%;
}
.th-tags{
  width: 30%;
}
.th-inused {
  width: 20%;
}
.th-last {
  background-color: #ffffff;
  width: 15%;
  border: 0;
}
.td-cat {
  font-style: italic;
}
.td-tags {
  font-style: italic;
}
.td-inused {
  text-align: center;
}
.td-last{
  background-color: #ffffff;
  border: 0 ;
}
.button-add {
  position: relative; 
  left: 70.5%;
  color: white;
  background-color: #039be5;
}
.button-add:hover {
  color: white;
  background-color: limegreen;
}
.button-add2 {
  position: relative; 
  left: 70%;
  color: white;
  background-color: #039be5;
}
.button-add2:hover {
  color: white;
  background-color: limegreen;
}
.button-back {
  width: 100px;
  position: relative; 
  left: 61%;
  color: #039be5;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.button-s-x{
  background-color: pink;
  color: white;
  width: 40px;
  /*padding: 10px 10px;*/
  text-align: center;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 7px;
  margin-bottom: 0;
}
.button-s-x:hover {
  background-color: red;
  color: white;
}
.button-s-e{
  /*border: 1px solid grey;*/
  color: #039be5;
  width: 40px;
  text-align: center;
  margin-top: 0;
  margin-left: 8px;
  margin-right: 5px;
  margin-bottom: 0;
}
.button-s-e:hover {
  color: white;
  background-color: #039be5;
}
.word{
  font-size: 1.1em;
  cursor: pointer;
  cursor: hand;
  color: #039be5;
}
.word:hover{
  color: red;
}
.word:visited{
  color: #607D8B;
}
.t-tag{
  cursor: pointer;
  cursor: hand;
  color: #039be5;
}
.t-tag:hover{
  color: red;
}
.t-tag:visited{
  color: #607D8B;
}
.t-cat{
  cursor: pointer;
  cursor: hand;
  color: #039be5;
}
.t-cat:hover{
  color: red;
}
.t-cat:visited{
  color: #607D8B;
}

