h1 {
  font-size: 2em;
  color: #999;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.8em;
  color: #999;
  padding-top: 0;
}
h3 {
  font-size: 1.2em;
  color: #999;
  margin-top: 0;
  padding-top: 0;
}
h4 {
  font-size: 1em;
  color: #999;
  margin-top: 20px;
  padding-top: 0;
}
label {
  display: inline-block;
  width: 8em;
  color: #999;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-bottom: 20px;
  color: #999;
}
button {
  width: 100px;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 1em;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer; 
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}
.table-kw {
  margin-top: 10px;
  table-layout: fixed;
  width: 50%;
  /*white-space: nowrap;*/
  word-wrap: break-word;
}
.table-kw td {
/*  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}
.th-word {
  width: 30%;
}
.th-cat {
  width: 30%;
}
.th-inused {
  width: 20%;
}
.td-inused {
  text-align: center;
}
.input-new{
  width: 350px;
}
.button-save {
  position: relative; 
  left: 28%;
}
.button-cancel {
  position: relative; 
  left: 28%;
}



