
<div *ngIf="auth.authenticated()">

<h2>Setting</h2>
<br>
<label>Setting1: </label>
<input class="input-new" type="text" [(ngModel)]="newWord" placeholder="Setting1"/><br>

<label>Setting2: </label>
<input class="input-new" type="text" [(ngModel)]="newWord" placeholder="Setting2"/><br>

<label>Setting3: </label>
<input class="input-new" type="text" [(ngModel)]="newWord" placeholder="Setting3"/><br>

<br>
<button class="button-save" [disabled]="newWord" (click)="toMain()">Save</button>
<button class="button-cancel" (click)="toMain()">Cancel</button>

<br>
<br>
<br>

</div>

<br>
<div *ngIf="!auth.authenticated()">
<h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
{{auth.login()}}
</div>