<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1" >
      <span>Add New Keyword</span>
   </h1>
</div>

<!-- Content -->
<div class="col-md-10 col-md-offset-1">

<div *ngIf="auth.authenticated()" class="form-inline">

	<label>*Word: </label>
	<input class="input-upper input form-control" type="text" [(ngModel)]="newWord.name"/><br>
	<br>

	<label>Category: </label>
	<input class="input-upper input form-control" type="text" [(ngModel)]="newWord.category"/><br>
	<br>

	<label>Tags: </label>
	<input class="input-upper input form-control" type="text" [(ngModel)]="newTag"><button class="btn btn-small btn-add  btn-default" (click)="addTag(newTag)">+</button><text *ngFor="let tag of newWord.tags">{{tag}} <button class="btn btn-small btn-del btn-default" (click)="deleteTag(tag)">-</button></text><br>
	<br>

	<label>InUsed: </label>
	<input type="checkbox" [(ngModel)]="newWord.inused"/><br>
	<br>
	<br>

	<div *ngIf="wordNet" class="col col-xs-6">
		<h4 class="text-blue">Find more Synonyms from WordNet.</h4>
		<h4>{{newWord.name}}</h4>
		<br>
		<button class="btn btn-big btn-danger pull-right" (click)="wordNet=false">Cancel</button>
		<button class="btn btn-big btn-right btn-success pull-right" (click)="wordNet=false">Add</button>
	</div>

	<div *ngIf="!wordNet" class="col col-xs-6">
		<button class="btn btn-big btn-left0 btn-primary" *ngIf="!wordNet" (click)="wordNet=true">+ WordNet</button><br>
		<br>
		<button class="btn btn-big btn-danger pull-right" (click)="toWords()">Cancel</button>
		<button class="btn btn-big btn-right btn-success pull-right" [disabled]="!newWord.name" (click)="addWord()">Save</button>
	</div>
	<br>

</div>

<div *ngIf="!auth.authenticated()">
<h3><i>You are not logged in, please click 'Log in' button to login.</i></h3>
</div>

</div>




